

.charaster {
  display: grid;
  justify-content: space-between;
  row-gap: 24px;
  margin-bottom: 145px;
  grid-template: repeat(2, 240px) / repeat(4, 23%);
  grid-auto-rows: auto;
}

.character__el {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: grid;
  border-radius: 4px;
  grid-template: 70% 30% / repeat(1, 100%);
}

.character__el img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.character__subtitle {
  display: grid;
  color: #000;
  padding: 12px 16px;
  row-gap: 3px;
}

.character__subtitle :first-child {
  font-size: 16px;
  font-weight: 500;
}

.character__subtitle :last-child {
  font-size: 14px;
  font-weight: 400;
  color: #7e7e7e;
}
.error{
  min-width: 100vh;
}

.button__wrapper{
  width: 435%;
  display: grid;
  justify-content: center;
}

.button{
  outline: none;
  border: none;
  padding: 10px 33px;
  background-color: white;
  color: #2196F3;
  box-shadow: rgba(0, 0, 0, 0.25) 5px 10px 10px, rgba(0, 0, 0, 0.22) 5px 10px 10px;
}

.nav {
  display: grid;
  justify-content: space-between;
  grid-template: 56px / repeat(4, 23%);
  margin-bottom: 61px;
}

.nav__el {
  padding: 0 8px;
  border-radius: 8px;
  box-sizing: border-box;
  display: grid;
  align-content: center;
  border: 0.4px solid #acabab;
  position: relative;
}

.nav__serch img {
  width: 24px;
  height: 24px;
}

.nav__serch {
  display: flex;
}

.nav__el input {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
}

@media screen and (max-width: 900px) {
  
  .charaster {
    grid-template: repeat(3, 240px) / repeat(3, 31%);
    grid-auto-rows: auto;
  }
  .nav {
    margin-bottom: 40px;
  }

}


@media screen and (max-wid—çth: 550px) {
  
  .charaster {
    grid-template: repeat(3, 240px) / repeat(2, 47%);
    grid-auto-rows: auto;
  }

  .nav {
    grid-template: repeat(2, 56px) / repeat(2, 47%);
    row-gap: 15px;
  }
}

@media screen and (max-width: 450px) {
  
  .charaster {
    grid-template: repeat(3, 312px) / repeat(1, 100%);
    grid-auto-rows: auto;
    row-gap: 66px;
  }
  
  .nav {
    grid-template: repeat(4, 56px) / repeat(1, 100%);
    row-gap: 20px;
    margin-bottom: 66px;
  }

  .main__character__el {
    grid-template: 80% 20% / repeat(1, 100%);
  }
}