
.container {
  max-width: 63%;
  margin: 0 auto;
}


@media screen and (max-width: 1500px) {
  .container {
    min-width: 71%;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    min-width: 83%;
  }
}

@media screen and (max-width: 667px) {
  .container {
    max-width: 90%;
  }
}